/* FormularioUnidad.css */

.form-container-comision {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    z-index: 1000;
    width: 400px;
    max-width: 90%;
  }
  
  .form-container-comision h1 {
    margin-bottom: 20px;
    font-size: 80px;
    color: #333;
    text-align: center;
  }
  
  .form-container-comision form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container-comision label {
    margin-bottom: 10px;
    font-size: 1em;
    color: #666;
  }
  
  .form-container-comision input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 4em;
    width: 200px;
    max-width: 90%;
  }
  
  .form-container-comision button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .form-container-comision button:first-of-type {
    background-color: #bcff7d;
    color: #000000;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .form-container-comision button:nth-of-type(2) {
    background-color: #008cff;
    color: #fff;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  .form-container-comision button:last-of-type {
    background-color: #ccc;
    border: 1px solid black;
    color: #333;
  }
  
  .form-container-comision button:hover {
    opacity: 0.9;
  }
  
  @media (max-width: 600px) {
    .form-container-comision {
      width: 70%;
      padding: 15px;
    }
  
    .form-container-comision h3 {
      font-size: 30px;
    }
  
    .form-container-comision input {
      font-size: 30px;
      width: 100px;
    }
  
    .form-container-comision button {
      font-size: 20px;
      padding: 8px;
    }
  }
  